<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js" integrity="sha384-/TgkGk7p307TH7EXJDuUlgG3Ce1UVolAOFopFekQkkXihi5u/6OCvVKyz1W+idaz" crossorigin="anonymous"></script>
    <title>{{pag_name}}</title>
</head>

<body>

    <header>
        <h1>{{pag_nome}}</h1>
        {% include "menu.html"%}
    </header>

    <main>
    <section>
        <table>
            <tr>
                <th>Id</th>
                <th>Música</th>
                <th>Artista</th>
                <th>Tablatura</th>
                <th>Letra </th>
            </tr>
            <!--parte variável-->
            {% for id, musica, artista, tablatura, letra in info %}
            <tr>
                <td>{{id}}</td>
                <td><a href="/reprodução">{{musica}}</a></td>
                <td>{{artista}}</td>
                <td>{{tablatura}}</td>
                <td>{{letra}}</td>
                <td><a href="/excluir/faixa/{{id}}">Excluir</a></td>
            </tr>       
            {% endfor %}
            <!--fim da parte variável-->
        </table>
    </section>

    </main>


</body>
</html>