<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js" integrity="sha384-/TgkGk7p307TH7EXJDuUlgG3Ce1UVolAOFopFekQkkXihi5u/6OCvVKyz1W+idaz" crossorigin="anonymous"></script>
    <title>{{pag_name}}</title>
</head>

<body>

        
<header>
        <h1>{{pag_nome}}</h1>
        {% include "menu.html"%}
</header>

<h3>Account</h3>

<main>
        {%if not session ["login"]%}        
 <form action="/" method="post">
        <label>Login:</label>
        <input type="text" name="login">
        <label>Password:</label>
        <input type="password" name="password">
        <br>
        <input type="submit" value="Log In">
 </form>
        
 <br>

        {%endif%}
        
        {%if session["login"]%}

        <table>
                <tc>
                        <th>Login:</th>
                </tc>
                <tc>
                        <th>{{login}}</th>
                </tc>
        </table>

        <a href="logout">Logout</a>
        
        {%endif%}

</main>

</body>
</html>